

.filter{
    padding-top: 15px;
    padding: 15px 10px 0 ;
    border-bottom: 1px solid rgb(231, 231, 231);
}


.filter .dropdown-toggle{
    background-color: #fff;
    border:1px solid #ced4da;
}

.mapCont{
    height: 700px;
}

.mapCont .card{
    border: none;
    color: black;
}

.mapCont .card-text{
    color: rgb(101, 101, 101);
}

.mapCont .col-md-3{
    overflow: auto;
    height: 700px;
    border-right: 1px solid rgb(231, 231, 231);
}


.mapCont .col-md-3 .pagination{
    margin-top: 20px;
}

.mapCont .col-md-5{
    padding: 10px 0 0 20px;
}

/* min-width : from    max-widt : to  */
/* relative:원래 위치 기준으로 조정 , absolute:상위 위치 기준으로 조정 , fixed: 웹브라우저 기준으로 조정 */
@media(min-width:376px) {
    .mapCont .col-md-3 .card-img-top{
        position: relative; 
        top: 10%;
        left: 5%;
    }
}

@media(max-width:375px) {
    .mapCont .col-md-3{
        border: none;
    }
    
    .mapCont .col-md-9{
      display: none;
    }
    .footer{
        display: none;
    }
  }
  