/* CSS 네이밍 표준 : (조상) 형태-의미-순서_상태  btn-cancle-01_off */

.App{
  padding: 0px!important;
}

.navi{
  border-bottom: 1px solid transparent;
  background-color: transparent;
  margin-top: 15px;
}

.navi .div-logo{
  padding-top: 10px;
}

.navi .h3-logo{
  display: inline; 
  font-family: 'Courier New', Courier, monospace ;
  margin-left: -10px;
  color: #f24d7d;
  font-weight: bold;
}

.navi a{
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5px;
  font-weight:600;
  font-size:x-large;
  transition: all 0.2s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}

.navi .a-fontBlack{
  color: black;
}

.div-bottomLine{
  border-bottom: 1px solid rgb(231, 231, 231);
  padding-bottom: 20px!important;
}


.navi a:hover{
  color: #f24d7d;
}

.navi .btn-outline{
  border: 2px solid rgba(255, 255, 255, 0.372)!important;
  border-radius: 2px;
}

.navi .nav-name{
  color: rgba(255, 255, 255, 0.8);
  font-size:1.5em;
  position: absolute;
  top: 25%;
  right: 0;
}

.footer{
  /* width: 100%; */
  height: 250px;
  background-color: rgb(55, 55, 55);
  color: rgb(160, 160, 160);
}

.footer .btn-footer{
  margin: 20px 0 10px;
}
.footer .btn-footer a{
  font-size: large;
  margin-left: 20px;
}
.footer .txt-footer{
  height: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  /*여러줄일경우 각 줄높이*/
  line-height: 1.4;
  text-align: left; 
  display: -webkit-box; 
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
/* width가 375미만일경우 */
@media(max-width:375px) {
  .footer .btn-footer{
    display: none;
  }
  .footer .txt-footer{
    margin-top: 25px;
  }
  .div-outline{
    margin: 10px 20px;
    padding: 30px ;
    border:1px solid rgb(160, 160, 160);
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgb(160, 160, 160);/* 그림자위치 상하,좌우,흐려짐정도,그림자크기,색상 */
  }
  
}

@media(max-width:767px) {
  .navi .nav-name{
    color: rgba(255, 255, 255, 0.8);
    font-size:1.7em;
    left: 0;
    top:75px;
  }
}

.div-outline{
  margin: 150px 20px;
  padding: 30px ;
  border:1px solid rgb(160, 160, 160);
  border-radius: 5px;
  box-shadow: 0 0 3px 1px rgb(160, 160, 160);/* 그림자위치 상하,좌우,흐려짐정도,그림자크기,색상 */
}

.p-sessionChk{
  color: #f24d7d;
  margin: 15px 0 0;
}