.App{
padding: 0px!important;
}

.nav{
  /* padding: 20px 20px 0px 30px; */
  border-bottom: 1px solid transparent;
  background-color: transparent;
}

.nav a{
  margin-left: 40px;
  font-size: 15px;
  line-height: 22px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  user-select: none;
  font-weight: bold;
  font-size: large;
}
.nav a:hover{
  color: rgba(255, 255, 255, 0.8);
}

.logo{
margin-right: auto;
padding-left: 20px;
}

footer{
  width: 100%;
  background-color: rgb(55, 55, 55);
}