
.serach{
    height: 465px;
    /* margin-top: -85px; */
    background-image: linear-gradient(134deg, rgb(19, 183, 207) -5%, rgb(54, 91, 180) 56%, rgb(54, 91, 180) 56%);
}
.btn_outline{
    border: 2px solid rgba(128, 128, 128, 0.372)!important;
    border-radius: 2px;
}

.label_white{
    color: white;
}
.lable_bold{
    font-weight:900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.roomList{
    margin: 10px 0 80px;
}

.roomList_label{
margin-top: 40px;
}
.roomList .card{
    transform: scale(1);
    transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}
.roomList .card:hover{
    transform: scale(1.1);
}

