
.serach{
    width: 100%;
    height: 465px;
    /* margin-top: -85px; */
    background-image: linear-gradient(134deg, rgb(19, 183, 207) -5%, rgb(54, 91, 180) 56%, rgb(54, 91, 180) 56%);
}
.btn_outline{
    border: 2px solid rgba(128, 128, 128, 0.372)!important;
    border-radius: 2px;
}

.roomList{
    width: 100%;
    margin: 100px 0px 160px;
}

.apartList{
    width: 100%;
    padding: 60px 0px 80px;
    background-color: rgb(60, 71, 103);
    /* overflow: hidden; */
}

.guide{
    width: 100%;
    padding: 100px 0px 150px;
}

.news{
    width: 100%;
    padding: 60px 0px;;
}
